@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Spray+Paint&display=swap');

@font-face {
    font-family: 'cctv';
    src: url('./static/fonts/cctv.ttf');
}

/* GLOBAL RULES */

*{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #272727;
    color: #c42b4e
}

.dot{
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
}

.headerContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INDEX.HTML STYLES */

#landingHeader{
    font-family: "cctv";
    font-weight: 200;
    color: #c42b4e;
    font-size: 80px;
}

#landingHeaderContainer{
    padding-top: 80px;
}

#landingHeaderContainer > .dot{
    background-color: #c42b4e;
    height: 45px;
    margin-right: 15px;
}

#whiteFlash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: 0.1s;
    z-index: 2;
    display: none;
}

#landingContent{
    width: calc(100% - 28%);
    padding: 0 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#landingContent > p{
    max-width: 750px;
    font-size: 24px;
}

#landingContent > #sorryMessage{
    display: none;
}

@media only screen and (max-width: 735px) {
    #landingContent > #text{
        display: none;
    }

    #landingContent > #sorryMessage {
        max-width: 750px;
        font-size: 18px;
        display: inline-block;
    }

    #landingContent > button{
        display: none;
    }

    #landingHeader{
        font-size: 45px;
    }

    #landingHeaderContainer > .dot{
        background-color: #c42b4e;
        height: 30px;
        margin-right: 15px;
    }
}


#landingContent > button{
    padding: 10px 20px;
    margin-top: 70px;
    border: 2px solid #c42b4e;
    border-radius: 6px;
    background-color: #3b3b3b;
    color: #c42b4e;
    font-size: 28px;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

#landingContent > button:hover{
    background-color: #282828;
    border-radius: 12px;
    cursor: pointer;
}

#cameraOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    transition: 0.2s;
    display: none;
}

#landingContent > button:hover > #cameraOverlay{
    display: inline-block;
    opacity: 1;
}

/* GAME.HTML STYLES */

#gameHeader{
    font-family: "cctv";
    font-weight: 200;
    color: #c42b4e;
    font-size: 54px;
}

#gameHeaderContainer{
    padding-top: 50px;
}

#gameHeaderContainer > .dot{
    background-color: #c42b4e;
    height: 31px;
    margin-right: 15px;
}

#gameContainer{
    width: calc(100%);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#arrestText{
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin-top: 50px;
}

#suspects, #false{
    font-size: 24px;
}

.lineBreak{
    height: 0;
    border-top: 5px solid rgb(190, 185, 185);
    width: 80%;
    border-radius: 12px;
    margin: 40px 0;
    display: none;
}

#records{
    display: none;
    align-items: start;
    justify-content: space-evenly;
    width: 80%;
}

#identitiesRecorded, #interactionsRecorded{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#interactionsRecorded > p, #identitiesRecorded > p{
    font-size: 24px;
    margin-bottom: 20px;
}

#interactionListUl, #identityListUl{
    font-size: 18px;
}

#decision{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#decision > p{
    font-size: 24px;
    margin-bottom: 20px;
}

#options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#options > button{
    padding: 10px 20px;
    margin-top: 30px;
    border: 2px solid #c42b4e;
    border-radius: 6px;
    background-color: #3b3b3b;
    color: #c42b4e;
    font-size: 28px;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

#options > button:hover{
    background-color: #282828;
    border-radius: 12px;
    cursor: pointer;
}

@media only screen and (max-width: 930px) {
    #decision > p{
        font-size: 18px;
    }

    #options > button{
        font-size: 18px;
    }

    #interactionsRecorded > p, #identitiesRecorded > p{
        font-size: 18px;
    }

    #suspects, #false{
        font-size: 18px;
    }
}

/* END.HTML STYLES */

#prefUtilText{
    margin-top: 50px;
    width: calc(100% - 20%);
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#prefUtilText > h2{
    font-size: 32px;
    margin-bottom: 20px;
}

#prefUtilText > p{
    font-size: 18px;
    margin-bottom: 20px;
}

#sources{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 50px;
    width: calc(100% - 20%);
    padding: 0 10%;
}

#sources > h2{
    font-size: 32px;
    margin-bottom: 20px;
}

#sources > p{
    font-size: 18px;
    margin-bottom: 20px;
}

#sources > h3{
    font-size: 22px;
    margin-bottom: 5px;
}

#sources > ul{
    font-size: 18px;
    margin-bottom: 20px;
}

#sources > ul > li{
    margin-bottom: 5px;
    list-style-type: none;

}

#sources > ul > li > a{
    color: #c51b6a;
    text-decoration: underline;
    padding-left: 16px;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20%);
    padding: 0 10%;
    margin-top: 50px;
}

#home > p{
    font-size: 30px;
}

#home > button{
    padding: 10px 20px;
    margin-top: 40px;
    border: 2px solid #c42b4e;
    border-radius: 6px;
    background-color: #3b3b3b;
    color: #c42b4e;
    font-size: 20px;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

#home > button:hover{
    background-color: #282828;
    border-radius: 12px;
    cursor: pointer;
}