@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Spray+Paint&display=swap');

@font-face {
    font-family: 'cctv';
    src: url('./static/fonts/cctv.ttf');
}

/* GLOBAL RULES */

*{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #272727;
    color: #c42b4e
}

.dot{
    aspect-ratio: 1;
    border-radius: 50%;
    display: inline-block;
}

.headerContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INDEX.HTML STYLES */

#landingHeader{
    font-family: "cctv";
    font-weight: 200;
    color: #c42b4e;
    font-size: 80px;
}

#landingHeaderContainer{
    padding-top: 80px;
}

#landingHeaderContainer > .dot{
    background-color: #c42b4e;
    height: 45px;
    margin-right: 15px;
}

#whiteFlash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: 0.1s;
    z-index: 2;
    display: none;
}

#landingContent{
    width: calc(100% - 28%);
    padding: 0 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#landingContent > p{
    max-width: 750px;
    font-size: 24px;
}

#landingContent > #sorryMessage{
    display: none;
}

@media only screen and (max-width: 735px) {
    #landingContent > #text{
        display: none;
    }

    #landingContent > #sorryMessage {
        max-width: 750px;
        font-size: 18px;
        display: inline-block;
    }

    #landingContent > button{
        display: none;
    }

    #landingHeader{
        font-size: 45px;
    }

    #landingHeaderContainer > .dot{
        background-color: #c42b4e;
        height: 30px;
        margin-right: 15px;
    }
}


#landingContent > button{
    padding: 10px 20px;
    margin-top: 70px;
    border: 2px solid #c42b4e;
    border-radius: 6px;
    background-color: #3b3b3b;
    color: #c42b4e;
    font-size: 28px;
    transition: 0.2s;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

#landingContent > button:hover{
    background-color: #282828;
    border-radius: 12px;
    cursor: pointer;
}

#cameraOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    transition: 0.2s;
    display: none;
}

#landingContent > button:hover > #cameraOverlay{
    display: inline-block;
    opacity: 1;
}

/* GAME.HTML STYLES */

#gameHeader{
    font-family: "cctv";
    font-weight: 200;
    color: #c42b4e;
    font-size: 54px;
}

#gameHeaderContainer{
    padding-top: 50px;
}

#gameHeaderContainer > .dot{
    background-color: #c42b4e;
    height: 31px;
    margin-right: 15px;
}

#gameContainer{
    width: calc(100% - 2px);
    border: 1px solid white;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameCanvas{
    /* border: 1px solid #c42b4e;
    width: 70%;
    aspect-ratio: 16/10;  */
}